$accent-color: #2196F3;
$accent-color-dark: #2196F3AA;

$filter-box-bg-color: #fff;
$filter-box-shadow: rgba(0, 0, 0, 0.1);

$btn-bd-color: #DFE5EC;

$text-color: #4a4a4a;
$text-faded-color: #A0B0B9;

$btn-bd-radius: 6px;
$box-bd-radius: 6px;
$chkbox-bd-radius: 3px;

$tick-svg: "../../../assets/checkbox/tick.svg";
