@use '../../styles/constants' as *;
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;

  width: 95%;
  margin: 0 auto;

  @media screen and (width < 740px) {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.logo {
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 auto;

  &--loading {
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }
}

@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
