@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'),
  url('./OpenSans-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'),
  url('./OpenSans-Italic.ttf') format('truetype');

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'),
  url('./OpenSans-Bold.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic'),
  url('./OpenSans-BoldItalic.ttf') format('truetype');

  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semi Bold'),
  url('./OpenSans-SemiBold.ttf') format('truetype');

  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic'),
  url('./OpenSans-SemiBoldItalic.ttf') format('truetype');

  font-weight: 600;
  font-style: italic;
}
